/*font-family: 'Raleway', sans-serif;*/
/* gray #2D2D2D*/
/*light gray #ABABAB */
/* purple #634271 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

img {
  max-width: 250px;
  max-height: 250px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 75px;
  color: #634271;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 80px;
  margin-top: -20px;
  color: #634271;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

input {
  margin-right: 10px;
}

i {
  cursor: pointer;
  color: #2D2D2D;
}

i:hover {
  color: #ABABAB;
}

p {
  margin: 10px 300px 10.5px 300px;
  font-family: 'Raleway', sans-serif;
}
